*{
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font:italic;
}

.upper{
    background-color: #1f2937;
}

.nav{
    display: flex;
}


#header-logo{
    size:24px;  
    color:#f9faf8;
    padding: 30px 200px;
    font-weight: 800;
}

#list>li>a{
    size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

#list{
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
}

#list>li{
    display: inline;
    gap: 10p;
}

.links{
    width: 49%;
    padding: 30px 200px;
}

.logo{
    width: 49%;
}

.content{
    display: flex;
    height: 350px;
}

#awesome{
    size: 48px;
    padding: 100px 20px 0px 200px;
    color: #f9faf8;
}

#subtext{
    size: 18px;
    color: #E5E7EB;
    padding: 0 200px;
}

.button{
    height: 45px;
    width: 100px;
    background-color: #3882F6;
    color: #f9faf8;
    text-align: center;
    margin-left: 200px;
    margin-right: 300px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 6px;
}

#left{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#right{
    padding: 20px 200px;
    width: 50%;
}



#right>img{
    height: 250px;
    width: 550px;
    padding-top: 20px;
}

#container{
    display: flex;
    justify-content: space-between;
    padding-top:60px;
    gap: 100px;
}

.box{
    height: 280px;
    width:240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box>p{
    font-size: medium;
    color: #1f2937;
    margin-top: 20px;
}

.box2{
    height: 200px;
    width: 200px;
    border:3px solid #3882F6;
    border-radius: 10px;
}


.middle{
    text-align: center;
    padding: 20px 400px;
}

#some>h2{
    font-size: 36px;
    color: #1f2937;
    padding-top: 20px;
}

#l1{
    height: 500px;
    background-color: #E5E7EB;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#l1>h1{
    padding:40px 400px;
    font-size: 36px;
    font-style: italic;
    color: #15293f;
}

#l1>h5{
    margin-left: 1000px;
    font-size: 20px;
    font-weight: 700;
    color: #15293f;
}

#l2{
    padding: 80px 400px;

}

#bluebox{
    background-color: #3882F6;
    display: flex;
    height: 200px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.inner1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70%;
    color: #E5E7EB;
}

.inner1>h3{
    font-size: 30px;
}

.inner2>h5{
    font-size: 15px;
}

.inner2{
    width: 30%;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #a2c1e2;
    height: 100px;
}

#button2{
    background-color:#15293f;
}